---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Async Landing">
	<div class="relative bg-white overflow-hidden">
		<div class="max-w-7xl mx-auto">
			<div
				class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
			>
				<svg
					class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
					fill="currentColor"
					viewBox="0 0 100 100"
					preserveAspectRatio="none"
					aria-hidden="true"
				>
					<polygon points="50,0 100,0 50,100 0,100"></polygon>
				</svg>
				<div>
					<div class="relative pt-6 px-4 sm:px-6 lg:px-8">
						<nav
							class="relative flex items-center justify-between sm:h-10 lg:justify-start"
							aria-label="Global"
						>
							<div
								class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0"
							>
								<div
									class="flex items-center justify-between w-full md:w-auto"
								>
									<a href="#">
										<span class="sr-only">Title</span>
										<img
											class="h-8 w-auto sm:h-10"
											src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
										/>
									</a>
								</div>
							</div>
							<div
								class="hidden md:block md:ml-10 md:pr-4 md:space-x-8"
							>
								<a
									href="#"
									class="font-medium text-gray-500 hover:text-gray-900"
									>About
								</a>
								<a
									href="#"
									class="font-medium text-gray-500 hover:text-gray-900"
									>Projects
								</a>
								<a
									href="#"
									class="font-medium text-gray-500 hover:text-gray-900"
									>Contact
								</a>
							</div>
						</nav>
					</div>
				</div>

				<main
					class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
				>
					<div class="sm:text-center lg:text-left">
						<h1
							class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
						>
							<span class="block xl:inline">Josue</span>
							<span class="block text-indigo-600 xl:inline"
								>@xiayudev
							</span>
						</h1>
						<p
							class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
						>
							Freelancer and learning web development. Currently,
							I am learning JavaScript and this is a project about
							Async.
						</p>
					</div>
				</main>
			</div>
		</div>
		<div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
			<img
				class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full object-center"
				src="tanjiro.jpg"
				alt=""
			/>
		</div>
	</div>
	<div class="bg-white">
		<div
			class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
		>
			<h2 class="text-2xl font-extrabold tracking-tight text-gray-900">
				Last YouTube Videos
			</h2>
			<div
				class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
				id="content"
			>
				<!-- content -->
			</div>
		</div>
	</div>
	<div class="bg-gray-50">
		<div
			class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between"
		>
			<h2
				class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
			>
				<span class="block">Contact</span>
				<span class="block text-indigo-600">Get in touch with me!</span>
			</h2>
			<div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					x="0px"
					y="0px"
					width="48"
					height="48"
					viewBox="0 0 48 48"
					style=" fill:#000000;"
					class="cursor-pointer"
				>
					<linearGradient
						id="awSgIinfw5_FS5MLHI~A9a_yGcWL8copNNQ_gr1"
						x1="6.228"
						x2="42.077"
						y1="4.896"
						y2="43.432"
						gradientUnits="userSpaceOnUse"
					>
						<stop offset="0" stop-color="#0d61a9"></stop>
						<stop offset="1" stop-color="#16528c"></stop>
					</linearGradient>
					<path
						fill="url(#awSgIinfw5_FS5MLHI~A9a_yGcWL8copNNQ_gr1)"
						d="M42,40c0,1.105-0.895,2-2,2H8c-1.105,0-2-0.895-2-2V8c0-1.105,0.895-2,2-2h32	c1.105,0,2,0.895,2,2V40z"
					>
					</path>
					<path
						d="M25,38V27h-4v-6h4v-2.138c0-5.042,2.666-7.818,7.505-7.818c1.995,0,3.077,0.14,3.598,0.208	l0.858,0.111L37,12.224L37,17h-3.635C32.237,17,32,18.378,32,19.535V21h4.723l-0.928,6H32v11H25z"
						opacity=".05"></path>
					<path
						d="M25.5,37.5v-11h-4v-5h4v-2.638c0-4.788,2.422-7.318,7.005-7.318c1.971,0,3.03,0.138,3.54,0.204	l0.436,0.057l0.02,0.442V16.5h-3.135c-1.623,0-1.865,1.901-1.865,3.035V21.5h4.64l-0.773,5H31.5v11H25.5z"
						opacity=".07"></path>
					<path
						fill="#fff"
						d="M33.365,16H36v-3.754c-0.492-0.064-1.531-0.203-3.495-0.203c-4.101,0-6.505,2.08-6.505,6.819V22h-4v4	h4v11h5V26h3.938l0.618-4H31v-2.465C31,17.661,31.612,16,33.365,16z"
					>
					</path>
				</svg>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					x="0px"
					y="0px"
					width="48"
					height="48"
					viewBox="0 0 48 48"
					style=" fill:#000000;"
					class="cursor-pointer"
				>
					<path
						fill="#03A9F4"
						d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429"
					>
					</path>
				</svg>
			</div>
		</div>
	</div>
</Layout>

<style>
	:root {
		--white: #ffffff;
	}
</style>
<script defer>
	const API =
			"https://youtube-v31.p.rapidapi.com/search?channelId=UCPtY99QUy6x-CvsmoGEJfsQ&part=snippet%2Cid&order=date&maxResults=4",
		options = {
			method: "GET",
			headers: {
				"X-RapidAPI-Key":
					"41e8fbdb5amsh6b2781a1c491ad0p1c3edejsn064a67e2e9d3",
				"X-RapidAPI-Host": "youtube-v31.p.rapidapi.com",
			},
		},
		$content = document.getElementById("content");
	// $fragment = document.createDocumentFragment();

	async function fetchData(urlAPI, obj) {
		const response = await fetch(urlAPI, obj);
		const data = await response.json();
		return data;
	}

	(async () => {
		try {
			const videos = await fetchData(API, options);
			let view = `
			${videos.items
				.map(
					(video) => `
				<a href="https://youtube.com/watch?v=${video.id.videoId}" target="_blank">
					<div class="group relative cursor-pointer">
						<div
							class="w-full bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:aspect-none"
						>
							<img src="${video.snippet.thumbnails.high.url}" alt="${video.snippet.description}" class="w-full" />
						</div>
						<div class="mt-4 flex justify-between">
							<h3 class="text-sm text-gray-700">
								<span aria-hidden="true" class="absolute inset-0"
								></span>
								${video.snippet.title}
							</h3>
						</div>
					</div>
				</a>
			`
				)
				.slice(0, 4)
				.join("")}`;
			$content.innerHTML = view;
		} catch (error) {
			$content.innerHTML = `Ocurrió un error. Por favor revisar el posible error:\n ${error}`;
		}
	})();
</script>
